<!DOCTYPE html>
<html>
  <head>
    <title>Agence de communication à Nice / Cannes et Monaco</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <section id="header">
    <div class="top-header is-full">
      <div class="container">
        <li><span><i class="fas fa-phone-volume"></i>06 30 78 86 43</span></li>
        <li><span><i class="fas fa-envelope"></i>contact@webinti.com</span></li>
      </div>
      <div class="nav">
        <div class="logo">
          <%= image_tag("logo@2x.png") %>
        </div>
        <ul>
          <li><a href="<% root_path %>">Accueil</a></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="title">
        Hello World
      </h1>
      <p class="subtitle">
        My first website with <strong>Bulma</strong>!
      </p>
    </div>
  </section>

  <%= yield %>
  </body>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</html>
