<!DOCTYPE html>
<html>
  <head>
    <title>Agence de communication à Nice / Cannes et Monaco</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <section id="header">
    <div class="top-header is-full">
      <div class="container">
        <li><span><i class="fas fa-phone-volume"></i>06 30 78 86 43</span></li>
        <li><span><i class="fas fa-envelope"></i>contact@webinti.com</span></li>
      </div>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="<%= root_path %>">
            <%= image_tag('logo@2x.png') %>
          </a>

          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="main-navbar" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="<%= root_path %>">
              Accueil
            </a>

            <a class="navbar-item">
              Documentation
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Nos services
              </a>

              <div class="navbar-dropdown">
                <a class="navbar-item">
                  About
                </a>
                <a class="navbar-item">
                  Jobs
                </a>
                <a class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary" href="<%= new_user_registration_path %>">
                  <strong>S'inscrire</strong>
                </a>
                <% if user_signed_in? %>
                  <%= link_to "Se déconnecter", destroy_user_session_path, :method => :delete, :class=>"button is-light" %>

                  <% else %>
                  <%= link_to "Se connecter", new_user_session_path, :class=>"button is-light" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </section>

  <section id="main-content">

      <%= yield %>

  </section>

  </body>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</html>
